/* BASE STYLES */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

/* CONTENT */
.content {
  width: 34rem;
  height: 40rem;
  position: relative;
  border-radius: 2rem;
  color: white;
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
}

/* CLOCK SECTIONS */
.upper-clock,
.set-alarm-top,
.edit-alarm-top {
  color: white;
  padding: 1rem 2.3rem;
  background-color: rgb(37, 37, 37);
  border-radius: 2rem 2rem 0 0;
}

.information {
  font-size: 1.3rem;
}

.information,
.bottom-upper-clock,
.edit-alarm-top,
.set-alarm-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.toggle-set-alarm {
  color: white;
}

/* BUTTONS */
.toggle-set-alarm {
  font-weight: 400;
  font-size: 2rem;
}

/* ALARM FORMS */
.set-alarm,
.edit-alarm {
  display: none;
  top: 0;
  left: 0;
  width: 31.4rem;
  height: 37.5rem;
  position: absolute;
  padding: 20px;
  z-index: 0;
  color: white;
  background-color: rgb(37, 37, 37);
  border-radius: 2rem;
}

.edit-alarm {
  z-index: 10;
}

form {
  padding: 1.15rem 2.3rem;
}

form div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid rgb(55, 55, 55);
}

.set-alarm input,
.edit-alarm input,
.set-alarm select,
.edit-alarm select {
  padding: 10px;
  width: 50%;
  border: 1px solid #555;
  border-radius: 5px;
  color: #ddd;
  background-color: #222;
}

.set-alarm input:hover,
.edit-alarm input:hover,
.set-alarm select:hover,
.edit-alarm select:hover {
  cursor: pointer;
  border: 1px solid white;
}

label {
  font-size: 1.3rem;
}

.alarm-time-label,
.edit-alarm-time-label {
  display: block;
  cursor: pointer;
  position: relative;
}

input[type='text']:hover {
  cursor: text;
}

input[type='time'] {
  position: relative;
}

input[type='time']::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.set-alarm button,
.edit-alarm button {
  color: #fff;
  height: 3rem;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #5cb85c;
  border: none;
  cursor: pointer;
}

.set-alarm .cancel-set-alarm,
.edit-alarm .cancel-edit-alarm,
.set-alarm .manual-delete-button,
.edit-alarm .manual-delete-button {
  background-color: #d9534f;
}

.manual-delete-button {
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* ALARMS LIST */
.current-alarms-list-set li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #2f2f2f;
}

.current-alarms-list-set button {
  padding: 5px 10px;
  margin: 0 5px;
  color: white;
  border-radius: 5px;
  background-color: #4a76a8;
}

.current-alarms-list-set button:hover {
  background-color: #3b5a7b;
}

/* ALARM SECTION */
.alarm {
  display: none;
}

.alarm-label {
  text-align: center;
}

.alarm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;

  margin-top: 20px;
  height: 20.7rem;
  border-radius: 0 0 2rem 2rem;
}

.alarm h2 {
  color: #fff;
  position: relative;
  bottom: 1rem;
}

.snooze-dismiss-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.alarm button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.snooze {
  background-color: #4caf50;
  color: #fff;
}

.dismiss {
  background-color: #f44336;
  color: #fff;
}

.alarm button:hover {
  opacity: 0.8;
}

/* MISCELLANEOUS */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2 {
  font-weight: 500;
}

.lower-clock {
  padding: 1.5rem 2.3rem;
}
